{% extends 'base.html' %}
{% block base %}

<!-- <h1>{{request.user}}</h1> -->

<div class="w-full">
    <div class="bg-gray-800 grid grid-cols-1 md:grid-cols-2">
        <div>
            <img src="https://www.pngarts.com/files/1/E-Learning-PNG-Picture.png" alt="" width="100%">
        </div>
        <div class="flex flex-col justify-center items-center ">
            <h2 class="text-5xl text-white">

                Course Cloud
            </h2>
            <p class="text-white text-justify my-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
                quisquam laborum tempore magnam rem repudiandae debitis doloribus veniam minima perspiciatis incidunt
                atque iure officiis maxime ea itaque, ipsum provident ipsam.</p>
        </div>
    </div>
    <div class="p-3 ">
        <h1 class="text-4xl text-center mb-3 p-3">Popular Courses</h1>
        {% if courses %}
        <div class="flex flex-wrap gap-2 justtify-around p-3">
            {% for i in courses %}
            <div class="max-w-sm w-80 rounded-lg overflow-hidden shadow-lg bg-gray-250 ">
                <img class="w-full" src="{{i.course_picture.url}}" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{i.title}}</div>
                    <div class="text-sm">
                        {% for j in i.category.all %}
                        <span>{{j.name}}</span> <b>|</b>
                        {% endfor %}
                    </div>
                    <p class="text-gray-700 text-base">
                        {{i.description}}
                    </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <!-- <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span> -->
                    <a href="{% url 'course_details' i.id %}"
                        class="inline-flex items-center justify-center px-4 py-2 bg-gradient-to-r from-blue-600 to-indigo-600 text-white font-semibold rounded-xl shadow-md hover:from-blue-700 hover:to-indigo-700 hover:scale-105 transition-all duration-300">
                        View More
                    </a>

                </div>
            </div>



            {% endfor %}
        </div>
        {% else %}
        <h4 class="text-center text-red-600 text-3xl">No Courses Available</h4>
        {% endif %}
    </div>
</div>

{% endblock base %}